[tool.black]
line-length = 100
target-version = ["py310"]

[tool.ruff]
line-length = 100
select = ["E","F","W","I","UP","PL","PERF"]
ignore = [
  "E501",        # длина строки контролит black
]
exclude = ["venv", ".venv", "temp", "logs"]

[tool.ruff.lint.isort]
known-first-party = ["handlers","services","storage","utils"]
force-single-line = false
combine-as-imports = true